/*------------------------------------*                SETTINGS
\*------------------------------------*/
/*------------------------------------*            FONT-FAMILIES
\*------------------------------------*/
/*------------------------------------*            MARGIN AND PADDINGS
\*------------------------------------*/
@font-face {
  font-family: 'theantiqua';
  src: url("../fonts/theantiquab-w5plain-webfont.woff2") format("woff2"), url("../fonts/theantiquab-w5plain-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'theantiqua';
  src: url("../fonts/theantiquab-w5plainitalic-webfont.woff2") format("woff2"), url("../fonts/theantiquab-w5plainitalic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'theantiqua';
  src: url("../fonts/theantiquab-w7bold-webfont.woff2") format("woff2"), url("../fonts/theantiquab-w7bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'theantiqua';
  src: url("../fonts/theantiquab-w7bolditalic-webfont.woff2") format("woff2"), url("../fonts/theantiquab-w7bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'theantiqua';
  src: url("../fonts/theantiquab-w8extrabold-webfont.woff2") format("woff2"), url("../fonts/theantiquab-w8extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

/*------------------------------------*                FONT SIZE
\*------------------------------------*/
/*------------------------------------*                COLORS
\*------------------------------------*/
/*------------------------------------*            LINE-HEIGHT
\*------------------------------------*/
/*------------------------------------*            FONT-FAMILIES
\*------------------------------------*/
/*------------------------------------*            BORDERS
\*------------------------------------*/
/*------------------------------------*            BORDER RADIUS
\*------------------------------------*/
/*------------------------------------*            BACKGROUND COLORS
\*------------------------------------*/
/*------------------------------------*                TOOLS
\*------------------------------------*/
/* hide a text sending it out of its container */
/* dimensions */
/* PICTOS-IMAGES DE FOND */
/*------------------------------------*                GENERIC
\*------------------------------------*/
/**
* Fixing the main tag being unsupported in even recent versions of IE.
*/
main {
  display: block; }

/**
* Fixing buttons not inheriting text color in most browsers
*/
a,
button {
  color: inherit; }

/**
* Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  padding: 0;
  border: 0; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 * 3. reset borders.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  /* 3 */ }

/* ----------------------------- */
/*          FORMS
/* ----------------------------- */
/**
* forms items
*/
form,
fieldset {
  border: none; }

input,
button,
select,
label {
  font: inherit; }

button,
input,
optgroup,
select,
textarea {
  color: inherit; }

legend {
  border: 0;
  white-space: normal; }

textarea {
  vertical-align: top;
  font-family: inherit;
  font-size: inherit;
  resize: vertical; }

/**
* Avoid undesired inheritance on border-box box sizing.
* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
* Removing margin and padding from these elements.
*/
body, p, blockquote, pre,
dl, dd, ol, ul,
fieldset, legend,
figure, hr {
  margin: 0;
  padding: 0; }

/**
* Force headings to inherit the same size as the surrounding text by default
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit; }

/**
* Prevent Superscripts and Subscripts from Affecting Line-Height
*/
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em; }

sub {
  top: 0.4em; }

/**
* Remove default table spacing.
*/
table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top; }

/* 'x' appears on right of search input when text is entered. This removes it */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

body {
  font-family: Helvetica Neue, Helvetica, Arial, "FreeSans", sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #464f5f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

/* ----------------------------- *            #TEXT
\* ----------------------------- */
strong {
  font-weight: 700; }

em, i {
  font-style: italic; }

small {
  font-size: 80%; }

/* ----------------------------- *            #LIST
\* ----------------------------- */
ul {
  list-style-type: none; }

/*------------------------------------*                OBJECTS
\*------------------------------------*/
.ol-page-container {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px; }

.ol-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  position: relative;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
  .ol-grid > .ol-grid {
    left: 0;
    right: 0; }
    .ol-grid > .ol-grid.ol-grid__cell {
      width: 100%; }
  .ol-grid--gutter {
    margin-left: -8px;
    margin-right: -8px; }
  .ol-grid--gutter > .ol-grid__cell {
    padding-left: 8px;
    padding-right: 8px; }
  .ol-grid__cell--fill {
    -ms-flex: 1 1 0px;
        flex: 1 1 0px; }
  .ol-grid__cell--full {
    -ms-flex: 1 100%;
        flex: 1 100%; }
    @media (max-width: 600px) {
      .ol-grid__cell--full\@small {
        -ms-flex: 1 100%;
            flex: 1 100%; } }
  .ol-grid__cell--1of2 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%; }
    @media (min-width: 601px) {
      .ol-grid__cell--1of2\@large {
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
        max-width: 50%; } }
  .ol-grid__cell--1of3 {
    -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%;
    max-width: 33.333%; }
    @media (min-width: 601px) {
      .ol-grid__cell--1of3\@large {
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
        max-width: 33.333%; } }

/*------------------------------------*                ATOMS
\*------------------------------------*/
.ca-btn {
  border-radius: 24px;
  color: #464f5f;
  border: solid 1px;
  font-size: 16px;
  font-family: Helvetica Neue, Helvetica, Arial, "FreeSans", sans-serif;
  display: block;
  width: 100%;
  padding: 6px 16px 8px;
  text-align: center;
  font-weight: bold;
  line-height: 1.2em;
  text-decoration: none;
  background: none;
  cursor: pointer; }
  .ca-btn--premium {
    border: solid 1px transparent;
    background-color: #fdc828; }
  .ca-btn__sub {
    font-size: 12px;
    display: block;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 300; }

.ca-logo {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  height: 23px; }
  .ca-logo--std {
    width: 99px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2299%22%20height%3D%2222%22%20viewBox%3D%220%200%2099%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Ctitle%3ELe%20Monde%3C%2Ftitle%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M0%20.245v19.798h22.36V.245H0z%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M11.908%203.957c-.083-.388-.752-1.28-1.502-1.28a1.38%201.38%200%200%200-.39.058c.723.278%201.28%201%201.447%201.5l.417-.25v-.028h.028zm4.892%2017.24l-2.784-1.835c-.334-.22-.723-.64-.723-1.417v-6.647l-.28.167-.11.056v6.62c0%20.555.305%201.14.722%201.417l2.813%201.863.36-.223zM4.952%2014.524c.056-1.14-.193-2.53-.444-3.866-.25-1.362-.475-2.753-.446-3.975.028-.75.167-1.473.473-2.14-.53.805-.862%201.722-.89%202.696-.084%202.362%201.057%205.448.945%207.84-.027.362-.055.723-.082.973l.055-.056c.223-.306.362-.778.39-1.473m3.67%206.618c-.416-.863-1.416-1.39-2.585-1.39-.112.027-.223.027-.334.027%201.14.195%202.114.833%202.476%201.64l.444-.278zm9.87-9.816l-.947-1.084.03.722.5.613zm26.417-5.81l-2.227-1.31.335-.22%202.142%201.252c-.083.083-.167.166-.25.277m.556%2015.85l-.974-.668c-.64-.445-.973-1.196-.973-2.03V9.38c0-1.28.277-2.17.722-2.78-.25.61-.362%201.362-.362%202.225l.027%209.51c0%201.028.307%201.695%201.03%202.196l.89.614-.36.222zm-7.9-.085s-.085.057-.14.085h-.223V5.85c0-.75-.055-.75-.5-1.086l-.64-.5.418-.222c.335.277.836.667.836.695.194.195.25.305.25.75v15.82-.027zM26.24%202.29c-.222.64-.194%201.25.084%201.752.25.444.695.75%201.225.89-1.643.138-2.366-1.168-1.31-2.643m4.342%2013.374c.138-.445.195-.946.195-1.474V6.098c0-.973-.057-1.083-.39-1.39h.055c.473-.083.723%200%20.723.834v8.12c0%20.945-.165%201.557-.583%202.002m.5%205.7c-.22-.723-.89-1.335-2.06-1.502.17-.026.335-.026.503-.026%201.445.026%201.863.916%201.947%201.195l.027.083-.42.252zm41.176-.194l-.833-.5c-.752-.447-1.142-1.14-1.142-2.198v-7.535c0-.444-.027-.416-.195-.556%200%200-.584-.472-.974-.778l-.416.224.806.61c.446.334.39.362.39%201.03v7.312c0%201%20.417%201.696%201%202.03l1.003.557.36-.195zm-7.79.138V9.99l-.362-.416-.445.25.418.473v11.067h.224c.055-.03.138-.057.138-.057h.027zm-8.814-.082l-3.2-1.92c-.64-.39-.89-.86-.89-1.696v-6.284l-.278.14-.112.055v6.396c0%20.75.333%201.306.918%201.64l3.2%201.864.362-.194zm1.726-3.56v-6.34c0-.334-.11-.446-.363-.584l-1.308-.778v.417l.75.418c.557.305.557.36.557.946l-.027%205.7.39.222zM82.742%206.21v-.083c0-.78-.473-1.585-1.198-2.002-.277-.168-.527-.306-.527-.306l-.333.222.193.11c.946.53%201.477%201.196%201.477%202.28l.388-.222zm10.13%2014.987l-2.81-1.835c-.332-.22-.723-.64-.723-1.417v-6.647l-.28.167-.11.056v6.534c0%20.724.28%201.225.75%201.53l2.783%201.836.39-.223zm-11.855%200l-3.006-1.89c-.72-.444-.86-.862-.86-1.67V11.66l-.224.112-.166.083v5.922c0%20.946.306%201.364.78%201.67l3.114%201.973.363-.223zm13.383-9.87l-.946-1.085.028.722.5.613zM82.854%2017.61V8.795l-.5.25v8.314z%22%20fill%3D%22%238F98A9%22%2F%3E%3Cg%20transform%3D%22translate(0%20.988)%22%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fmask%3E%3Cpath%20d%3D%22M12.52%2017.71l-.334-.67-.862.556c-.64-.78-1.67-1.697-4.117-1.697C4.62%2015.87%201.447%2017.93%200%2019.71l.25.333c1.975-1.308%204.008-1.89%205.788-1.89%201.447%200%202.643.695%203.143%201.723l3.34-2.167zM15.19%202.47c-.502-.78-1.837-2.225-4.48-2.225C7.54.218%204.76%202.692%204.647%205.695c-.084%202.392%201.057%205.478.945%207.87-.055.806-.223%201.39-.555%201.834l.332.39%201.948-1.42c.946-.696%201.474-1.557%201.446-3.058-.027-1.863-.89-4.727-.89-6.923%200-1.893.724-3.31%202.365-3.31%201.112%200%202.002%201.14%202.14%201.78.058.304%200%20.443-.277.638l-.78.53v.86l3.87-2.42zm7.168%207.396L18.63%205.75l-5.816%203.392v.78l1.197-.668v7.703c0%20.444.168.723.446.918l3.09%202%204.368-2.53-.362-.78-2.282%201.225-2.058-1.42c-.25-.164-.28-.33-.28-.693v-2.503l5.427-3.308zm-2.922.612l-2.504%201.557v-4.06l.223-.14%202.28%202.643z%22%20fill%3D%22%231A171B%22%20mask%3D%22url(%23b)%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M32.084%2020.836c-.278-.78-1.084-1.586-2.532-1.64-1.364-.03-3.312.5-4.924%201.724l-.307-.39c1.17-1.28%203.897-3.336%206.76-3.365%201.505%200%202.562.5%203.313%201.307l1.253-.695.362.724-3.924%202.336zM49.25%203.79c-1.086.64-1.448%201.503-1.448%202.837v10.648c0%20.67.085.974.446%201.17l.362.195%201.002-.586.334.67-3.478%202.085L45.272%2020c-.53-.362-.754-.807-.754-1.67V8.825c0-1.78.558-2.726%201.337-3.31l.446-.332-3.282-1.92-1.475.89V18c0%201.168-.167%201.335-1.198%201.863%200%200-.805.39-1.916.974h-.224V5.487c0-.75-.085-.918-.502-1.25l-1.168-.946-1.42.807v7.953c0%201.39-.222%202.39-1.335%203.085L31%2016.887l-.28-.472c.863-.668%201.057-1.615%201.057-2.726V5.57c0-1.195-.165-1.668-1.418-1.445a40.36%2040.36%200%200%201-1.643.25c-1.837.25-2.616-1.057-1.364-2.697%200%200%20.307-.417%201.085-1.42l.614.42-.446.64c-.584.834-.11%201.28.835.944.446-.168%201.308-.5%201.92-.752%202.643-1.028%203.617.668%203.757%201.67L38.4%201.205l2.836%202.168%203.506-2.168%202.7%201.53c.917.527%201.362.305%202.003-.03l.53-.277.415.696-1.14.666zm12.887%2013.654l-.25-.612-.974.5V9.797c0-.388-.14-.695-.528-.92l-3.59-2.14-5.816%203.393v.807l1.197-.695v7.368c0%20.667.165.918.584%201.168l3.534%202.086%205.843-3.42zm13.795%201.584l-.278-.64-1.03.586-.36-.223c-.39-.222-.475-.5-.475-1.168v-7.98c0-.64-.14-.917-.53-1.195l-2.143-1.614-3.31%201.892-1.753-1.892-3.506%202.143.474.554%201.195-.72.863.97v11.07h.222c1.392-.614%201.837-.807%201.837-.807.667-.28.862-.5.862-1.28V9.49l1.142-.666L70.48%209.88c.36.306.415.556.415%201.028l.028%207.565c0%20.833.25%201.306.807%201.64l1.17.696%203.032-1.78zm-17.94-.416l-.167.028-2.283-1.336c-.388-.222-.474-.472-.474-.973l.03-7.312.166-.056%202.198%201.28c.444.25.53.473.53.945v7.425zm25.362%200l-.167.028-1.975-1.28c-.39-.25-.528-.445-.528-.945v-7.09L83.16%207.82l.195.112v10.68zm4.118-1.14l-.25-.64-1.002.527V5.57c0-1.723-.778-2.835-2.058-3.614l-1.252-.78-3.924%202.28.78.363%201.28-.696.833.472c.89.5%201.474%201.503%201.474%202.53v.445l-6.733%203.893v.752l1.14-.612v7.063c0%20.61.168.862.557%201.112l3.34%202.086%205.815-3.392zm10.823-6.618l-3.757-4.116-5.814%203.392v.778l1.196-.666v7.703c0%20.444.167.722.445.918l3.09%202%204.366-2.53-.33-.78-2.284%201.225-2.06-1.42c-.278-.193-.305-.332-.305-.693v-2.503l5.455-3.308zm-2.95.61l-2.504%201.558v-4.06l.252-.138%202.254%202.64z%22%20fill%3D%22%231A171B%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }
  .ca-logo--premium {
    width: 187px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%22187%22%20height%3D%2222%22%20viewBox%3D%220%200%20187%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Ctitle%3EGroup%3C%2Ftitle%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M0%20.245v19.798h22.36V.245H0z%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M11.908%203.957c-.083-.388-.752-1.28-1.502-1.28a1.38%201.38%200%200%200-.39.058c.723.278%201.28%201%201.447%201.5l.417-.25v-.028h.028zm4.892%2017.24l-2.784-1.835c-.334-.22-.723-.64-.723-1.417v-6.647l-.28.167-.11.056v6.62c0%20.555.305%201.14.722%201.417l2.813%201.863.36-.223zM4.952%2014.524c.056-1.14-.193-2.53-.444-3.866-.25-1.362-.475-2.753-.446-3.975.028-.75.167-1.473.473-2.14-.53.805-.862%201.722-.89%202.696-.084%202.362%201.057%205.448.945%207.84-.027.362-.055.723-.082.973l.055-.056c.223-.306.362-.778.39-1.473m3.67%206.618c-.416-.863-1.416-1.39-2.585-1.39-.112.027-.223.027-.334.027%201.14.195%202.114.833%202.476%201.64l.444-.278zm9.87-9.816l-.947-1.084.03.722.5.613zm26.417-5.81l-2.227-1.31.335-.22%202.142%201.252c-.083.083-.167.166-.25.277m.556%2015.85l-.974-.668c-.64-.445-.973-1.196-.973-2.03V9.38c0-1.28.277-2.17.722-2.78-.25.61-.362%201.362-.362%202.225l.027%209.51c0%201.028.307%201.695%201.03%202.196l.89.614-.36.222zm-7.9-.085s-.085.057-.14.085h-.223V5.85c0-.75-.055-.75-.5-1.086l-.64-.5.418-.222c.335.277.836.667.836.695.194.195.25.305.25.75v15.82-.027zM26.24%202.29c-.222.64-.194%201.25.084%201.752.25.444.695.75%201.225.89-1.643.138-2.366-1.168-1.31-2.643m4.342%2013.374c.138-.445.195-.946.195-1.474V6.098c0-.973-.057-1.083-.39-1.39h.055c.473-.083.723%200%20.723.834v8.12c0%20.945-.165%201.557-.583%202.002m.5%205.7c-.22-.723-.89-1.335-2.06-1.502.17-.026.335-.026.503-.026%201.445.026%201.863.916%201.947%201.195l.027.083-.42.252zm41.176-.194l-.833-.5c-.752-.447-1.142-1.14-1.142-2.198v-7.535c0-.444-.027-.416-.195-.556%200%200-.584-.472-.974-.778l-.416.224.806.61c.446.334.39.362.39%201.03v7.312c0%201%20.417%201.696%201%202.03l1.003.557.36-.195zm-7.79.138V9.99l-.362-.416-.445.25.418.473v11.067h.224c.055-.03.138-.057.138-.057h.027zm-8.814-.082l-3.2-1.92c-.64-.39-.89-.86-.89-1.696v-6.284l-.278.14-.112.055v6.396c0%20.75.333%201.306.918%201.64l3.2%201.864.362-.194zm1.726-3.56v-6.34c0-.334-.11-.446-.363-.584l-1.308-.778v.417l.75.418c.557.305.557.36.557.946l-.027%205.7.39.222zM82.742%206.21v-.083c0-.78-.473-1.585-1.198-2.002-.277-.168-.527-.306-.527-.306l-.333.222.193.11c.946.53%201.477%201.196%201.477%202.28l.388-.222zm10.13%2014.987l-2.81-1.835c-.332-.22-.723-.64-.723-1.417v-6.647l-.28.167-.11.056v6.534c0%20.724.28%201.225.75%201.53l2.783%201.836.39-.223zm-11.855%200l-3.006-1.89c-.72-.444-.86-.862-.86-1.67V11.66l-.224.112-.166.083v5.922c0%20.946.306%201.364.78%201.67l3.114%201.973.363-.223zm13.383-9.87l-.946-1.085.028.722.5.613zM82.854%2017.61V8.795l-.5.25v8.314z%22%20fill%3D%22%238F98A9%22%2F%3E%3Cg%20transform%3D%22translate(0%20.988)%22%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fmask%3E%3Cpath%20d%3D%22M12.52%2017.71l-.334-.67-.862.556c-.64-.78-1.67-1.697-4.117-1.697C4.62%2015.87%201.447%2017.93%200%2019.71l.25.333c1.975-1.308%204.008-1.89%205.788-1.89%201.447%200%202.643.695%203.143%201.723l3.34-2.167zM15.19%202.47c-.502-.78-1.837-2.225-4.48-2.225C7.54.218%204.76%202.692%204.647%205.695c-.084%202.392%201.057%205.478.945%207.87-.055.806-.223%201.39-.555%201.834l.332.39%201.948-1.42c.946-.696%201.474-1.557%201.446-3.058-.027-1.863-.89-4.727-.89-6.923%200-1.893.724-3.31%202.365-3.31%201.112%200%202.002%201.14%202.14%201.78.058.304%200%20.443-.277.638l-.78.53v.86l3.87-2.42zm7.168%207.396L18.63%205.75l-5.816%203.392v.78l1.197-.668v7.703c0%20.444.168.723.446.918l3.09%202%204.368-2.53-.362-.78-2.282%201.225-2.058-1.42c-.25-.164-.28-.33-.28-.693v-2.503l5.427-3.308zm-2.922.612l-2.504%201.557v-4.06l.223-.14%202.28%202.643z%22%20fill%3D%22%231A171B%22%20mask%3D%22url(%23b)%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M32.084%2020.836c-.278-.78-1.084-1.586-2.532-1.64-1.364-.03-3.312.5-4.924%201.724l-.307-.39c1.17-1.28%203.897-3.336%206.76-3.365%201.505%200%202.562.5%203.313%201.307l1.253-.695.362.724-3.924%202.336zM49.25%203.79c-1.086.64-1.448%201.503-1.448%202.837v10.648c0%20.67.085.974.446%201.17l.362.195%201.002-.586.334.67-3.478%202.085L45.272%2020c-.53-.362-.754-.807-.754-1.67V8.825c0-1.78.558-2.726%201.337-3.31l.446-.332-3.282-1.92-1.475.89V18c0%201.168-.167%201.335-1.198%201.863%200%200-.805.39-1.916.974h-.224V5.487c0-.75-.085-.918-.502-1.25l-1.168-.946-1.42.807v7.953c0%201.39-.222%202.39-1.335%203.085L31%2016.887l-.28-.472c.863-.668%201.057-1.615%201.057-2.726V5.57c0-1.195-.165-1.668-1.418-1.445a40.36%2040.36%200%200%201-1.643.25c-1.837.25-2.616-1.057-1.364-2.697%200%200%20.307-.417%201.085-1.42l.614.42-.446.64c-.584.834-.11%201.28.835.944.446-.168%201.308-.5%201.92-.752%202.643-1.028%203.617.668%203.757%201.67L38.4%201.205l2.836%202.168%203.506-2.168%202.7%201.53c.917.527%201.362.305%202.003-.03l.53-.277.415.696-1.14.666zm12.887%2013.654l-.25-.612-.974.5V9.797c0-.388-.14-.695-.528-.92l-3.59-2.14-5.816%203.393v.807l1.197-.695v7.368c0%20.667.165.918.584%201.168l3.534%202.086%205.843-3.42zm13.795%201.584l-.278-.64-1.03.586-.36-.223c-.39-.222-.475-.5-.475-1.168v-7.98c0-.64-.14-.917-.53-1.195l-2.143-1.614-3.31%201.892-1.753-1.892-3.506%202.143.474.554%201.195-.72.863.97v11.07h.222c1.392-.614%201.837-.807%201.837-.807.667-.28.862-.5.862-1.28V9.49l1.142-.666L70.48%209.88c.36.306.415.556.415%201.028l.028%207.565c0%20.833.25%201.306.807%201.64l1.17.696%203.032-1.78zm-17.94-.416l-.167.028-2.283-1.336c-.388-.222-.474-.472-.474-.973l.03-7.312.166-.056%202.198%201.28c.444.25.53.473.53.945v7.425zm25.362%200l-.167.028-1.975-1.28c-.39-.25-.528-.445-.528-.945v-7.09L83.16%207.82l.195.112v10.68zm4.118-1.14l-.25-.64-1.002.527V5.57c0-1.723-.778-2.835-2.058-3.614l-1.252-.78-3.924%202.28.78.363%201.28-.696.833.472c.89.5%201.474%201.503%201.474%202.53v.445l-6.733%203.893v.752l1.14-.612v7.063c0%20.61.168.862.557%201.112l3.34%202.086%205.815-3.392zm10.823-6.618l-3.757-4.116-5.814%203.392v.778l1.196-.666v7.703c0%20.444.167.722.445.918l3.09%202%204.366-2.53-.33-.78-2.284%201.225-2.06-1.42c-.278-.193-.305-.332-.305-.693v-2.503l5.455-3.308zm-2.95.61l-2.504%201.558v-4.06l.252-.138%202.254%202.64z%22%20fill%3D%22%231A171B%22%2F%3E%3Cpath%20d%3D%22M114.202%2020.165l-.886-2.635h-5.08l-.888%202.635h-2.078l4.72-13.12h1.572l4.72%2013.12h-2.08zm-3.382-10.153l-2.007%205.822h3.96l-1.953-5.822zm12.498%2010.153h-5.207V7.045h5.01c2.386%200%203.887%201.382%203.887%203.593%200%201.42-.868%202.433-1.736%202.783.995.406%201.936%201.383%201.936%203.04%200%202.415-1.61%203.705-3.888%203.705zm-.362-11.333h-2.893v3.76h2.893c1.248%200%202.1-.664%202.1-1.88%200-1.216-.852-1.88-2.1-1.88zm.18%205.547h-3.073v3.998h3.074c1.357%200%202.116-.848%202.116-2.01s-.76-1.99-2.116-1.99zm14.45%204.57c-.83.846-1.915%201.325-3.327%201.325-1.41%200-2.496-.48-3.328-1.326-1.265-1.29-1.302-2.6-1.302-5.345%200-2.746.037-4.054%201.302-5.344.832-.846%201.917-1.326%203.327-1.326s2.495.48%203.327%201.327c1.266%201.29%201.302%202.6%201.302%205.345%200%202.746-.037%204.054-1.303%205.344zm-1.41-9.436a2.566%202.566%200%200%200-1.917-.81c-.778%200-1.43.294-1.917.81-.633.7-.76%201.493-.76%204.09%200%202.6.127%203.373.76%204.073a2.58%202.58%200%200%200%201.916.83c.777%200%201.43-.314%201.917-.83.65-.68.76-1.474.76-4.072s-.11-3.41-.76-4.09zm13.51%2010.65l-5.95-9.23v9.23h-1.952V7.045h1.79l5.95%209.214V7.045h1.953v13.12h-1.79m13.057%200l-5.95-9.232v9.232h-1.953V7.045h1.79l5.95%209.213V7.045h1.954v13.12h-1.79m5.156%200V7.045h8.227v1.787h-6.275v3.833h5.353v1.77h-5.353v3.943h6.275v1.787H167.9zm4.393-14.392H170.9l1.357-2.985h2.043l-2.007%202.985zm9.93%2014.502c-1.936%200-3.31-.46-4.558-1.732l1.284-1.308c.94.958%202.006%201.27%203.31%201.27%201.697%200%202.656-.736%202.656-2.026%200-.59-.145-1.05-.506-1.364-.326-.295-.76-.46-1.41-.553l-1.52-.22c-1.048-.167-1.86-.5-2.422-1.05-.634-.59-.96-1.438-.96-2.525%200-2.286%201.628-3.834%204.305-3.834%201.717%200%202.893.443%203.996%201.493l-1.23%201.253c-.796-.774-1.736-1.013-2.84-1.013-1.518%200-2.332.847-2.332%202.045%200%20.48.127.92.47%201.216.325.295.705.48%201.41.59l1.537.24c1.176.183%201.826.46%202.387.976.687.645%201.05%201.548%201.05%202.69%200%202.414-1.918%203.85-4.63%203.85%22%20fill%3D%22%23FFC600%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

.ca-heading-primary {
  font-family: theantiqua, georgia, "Bitstream Charter", serif;
  font-size: 24px;
  font-weight: 700; }

.ca-heading-xl {
  font-family: theantiqua, georgia, "Bitstream Charter", serif;
  font-size: 19px;
  font-weight: 700; }

.ca-heading-l {
  font-family: theantiqua, georgia, "Bitstream Charter", serif;
  font-size: 19px;
  font-weight: 800; }

.ca-heading-sub {
  font-family: Helvetica Neue, Helvetica, Arial, "FreeSans", sans-serif;
  font-size: 19px;
  font-weight: 700; }

.ca-mark-tiny {
  font-size: 11px;
  font-family: Helvetica Neue, Helvetica, Arial, "FreeSans", sans-serif;
  text-transform: uppercase; }

.ca-divider {
  display: block;
  border-bottom: solid 1px #e2e4e9; }
  .ca-divider--large {
    border-top: solid 1px #e2e4e9;
    background-color: #f5f6f8;
    height: 8px; }
  .ca-divider--stacked-top {
    border-top: 0; }
  .ca-divider--thin {
    height: 0; }

.ca-ico--check-mark {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  width: 16px;
  height: 12px;
  vertical-align: baseline; }

.ca-ico--key {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  width: 18px;
  height: 10px;
  vertical-align: baseline; }

.ca-ico--premium-content {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  width: 16px;
  height: 16px;
  vertical-align: baseline; }

.ca-ico--time {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  width: 15px;
  height: 16px;
  vertical-align: text-bottom; }

/*------------------------------------*                MOLECULES
\*------------------------------------*/
.cm-figure__media {
  width: 100%;
  height: auto; }

.cm-figure__caption {
  font-size: 13px;
  line-height: 125%;
  color: #8b92a1;
  font-family: Helvetica Neue, Helvetica, Arial, "FreeSans", sans-serif;
  padding: 4px 24px; }

.cm-figure__credit {
  line-height: 150%;
  white-space: nowrap;
  text-transform: uppercase; }

.cm-tiny-view {
  font-size: 13px;
  display: block;
  width: 100%;
  line-height: 0;
  text-decoration: none; }
  .cm-tiny-view--alert {
    color: #f62121;
    background-color: snow; }
  .cm-tiny-view__desc {
    line-height: 150%;
    font-weight: 400; }
  .cm-tiny-view__media {
    width: 100%;
    height: auto; }
  .cm-tiny-view__pub-time {
    color: #bdc1c8;
    word-break: keep-all;
    white-space: nowrap; }
    .cm-tiny-view--alert .cm-tiny-view__pub-time {
      color: #fab4b4; }
  .cm-tiny-view__icon {
    margin-right: 4px;
    vertical-align: middle; }
  .cm-tiny-view__tag {
    color: #8b92a1;
    font-size: 11px;
    margin-bottom: 4px;
    text-transform: uppercase; }
    .cm-tiny-view--alert .cm-tiny-view__tag {
      color: #f62121; }

.cm-short-view {
  display: block;
  padding-top: 12px;
  padding-bottom: 24px;
  line-height: 0;
  text-decoration: none; }
  .cm-short-view__desc {
    padding-left: 24px;
    padding-right: 24px;
    line-height: 150%;
    padding-top: 16px; }
  .cm-short-view__media {
    width: 100%;
    height: auto; }
  .cm-short-view__standfirst {
    padding-top: 16px; }

.cm-block-header-primary {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-top: 16px; }
  .cm-block-header-primary::after {
    border-bottom: solid 2px #464f5f;
    padding-bottom: 8px;
    content: "";
    display: block; }

.cm-block-header-secondary {
  border-bottom: solid 1px #e2e4e9;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-top: 16px; }

.cm-ad-position {
  background-color: #f5f6f8;
  border-top: solid 1px #e2e4e9;
  border-bottom: solid 1px #e2e4e9;
  font-family: Helvetica Neue, Helvetica, Arial, "FreeSans", sans-serif;
  padding: 12px 12px 20px; }
  .cm-ad-position__info {
    color: #8b92a1;
    display: block;
    margin-bottom: 8px; }
  .cm-ad-position__container {
    max-width: 100%;
    width: 300px;
    margin: 0 auto; }

.cm-list-bullet__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: start;
      align-items: flex-start; }
  .cm-list-bullet__item::before {
    content: "";
    display: inline-block;
    -ms-flex: initial;
        flex: initial;
    background-repeat: no-repeat; }
    .cm-list-bullet--check .cm-list-bullet__item::before {
      min-width: 16px;
      min-height: 12px;
      margin-right: 12px;
      margin-top: 0.4em; }
  .cm-list-bullet__item:not(:last-child) {
    margin-bottom: 8px; }

.cm-list-bordered__item {
  border-bottom: solid 1px #e2e4e9;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px; }

.cm-block-header-primary {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-top: 16px; }
  .cm-block-header-primary::after {
    border-bottom: solid 2px #464f5f;
    padding-bottom: 8px;
    content: "";
    display: block; }

.cm-block-header-secondary {
  border-bottom: solid 1px #e2e4e9;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-top: 16px; }

/*------------------------------------*                ORGANISMS
\*------------------------------------*/
.co-header {
  border-bottom: solid 1px #e2e4e9;
  padding: 12px 24px;
  text-align: center; }
  .co-header__logo {
    margin: 0 auto; }

.co-outbrain {
  padding-left: 24px;
  padding-right: 24px;
  background-color: #f5f6f8;
  padding-top: 24px;
  padding-bottom: 24px; }
  .co-outbrain__heading {
    display: block;
    padding-bottom: 20px; }
  .co-outbrain__item:not(:last-child) {
    display: block;
    padding-bottom: 24px; }
  .co-outbrain__desc {
    line-height: 150%; }
  .co-outbrain__media {
    width: 100%;
    height: auto; }
  .co-outbrain__title {
    font-weight: bold; }
  .co-outbrain__link {
    font-size: 13px;
    display: block;
    line-height: 0;
    text-decoration: none; }

.co-article {
  padding-left: 24px;
  padding-right: 24px; }
  .co-article__header {
    border-bottom: solid 1px #e2e4e9;
    font-size: 13px;
    padding: 16px 0 12px; }
  .co-article__pub-date {
    color: #8b92a1; }
  .co-article__headline {
    line-height: 110%;
    margin: 12px 0; }
  .co-article__standfirst {
    border-bottom: solid 1px #e2e4e9;
    font-size: 16px;
    font-family: Helvetica Neue, Helvetica, Arial, "FreeSans", sans-serif;
    padding: 16px 0; }
  .co-article__body {
    font-size: 16px;
    font-family: theantiqua, georgia, "Bitstream Charter", serif;
    padding-top: 16px; }
    .co-article__body p:not(:last-child) {
      margin: 0 0 20px; }
  .co-article__subtitle {
    margin: 24px 0 12px; }
  .co-article__media {
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: 20px; }
  .co-article__quotation {
    border-left: solid #e2e4e9;
    padding-left: 16px;
    margin-bottom: 20px; }
  .co-article__footer {
    padding: 16px 0; }

.co-teasing {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .co-teasing__connect {
    font-size: 13px;
    border-bottom: solid 1px #e2e4e9;
    padding-bottom: 16px; }
  .co-teasing__advantages {
    font-size: 16px;
    font-family: theantiqua, georgia, "Bitstream Charter", serif;
    padding: 16px 0; }
  .co-teasing__sub-title {
    padding-bottom: 16px; }
  .co-teasing__lock-text {
    padding-bottom: 8px; }

/*------------------------------------*                UTILITIES
\*------------------------------------*/
.u-text-right {
  text-align: right; }

.u-margin-bottom-s {
  margin-bottom: 12px; }

.u-margin-bottom-m {
  margin-bottom: 16px; }

.u-margin-bottom-l {
  margin-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
